#testcase-extension {
    font-size: 14px;
    position: fixed;
    width: 100%;
    height: 100%;
}

#far-right-pane-pivot {
    display:none;
    width:150px;
}

#child-node-icon::before {
    position: relative;
    content: url('/img/Child-node-icon.png');
    
}
.icon-testplan::before{
    content: url('/img/testPlan.png');
}

#testmanagement-view-left-pane{
    margin-left:16px;
}
#treeview-Cbo-container {
    margin-left:12px;
    margin-right:10px;

}


    #testcase-extension > .splitter > .leftPane {
        width: 10%;
        overflow: auto;
    }

    #testcase-extension > .splitter > .handleBar {
        left: 10%;
    }

    #testcase-extension > .splitter > .rightPane {
        left: 10%;
        overflow: auto;
    }

 
    .testmanagement-suites-tree {
    position: absolute;
    top: 70px;
    left: 12px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
}

.testmanagement-details-grid{
    position: absolute;
    top: 70px;
    left: 12px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
}

.drag-tile{
    background-color:lightblue;
    border-color:black;
    border-width:1px;
    vertical-align:middle;
}
.drag-tile-item-count {
    font-size:large;
    font-weight:bold;
    text-align:center;
}

.drag-tile-drag-type {
    font-size:large;
    font-weight:bold;
    margin:6px;
}

.drag-tile-head{
    float:left;
    height:100%;
}
.drag-tile-list{
    float:right;
   
}